.notificationCard__container {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.favIcon {
  color: rgb(249, 24, 128);
}

.notification__icon {
  width: 25px;
  height: 25px;
}

.notificationCard__text__icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 50%;
}

.notificationCard__text {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
