.login-form {
  background-color: #ffffff;
  padding: 20px;
  margin: auto auto;
  width: 100%;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm_errMsg {
  margin-bottom: 10px;
}

.loginForm_loginButton_container {
  display: flex;
  justify-content: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.loginForm_input-group {
  margin-bottom: 15px;
}

.loginForm_input-group input {
  /* width: 100%; */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccd6dd;
  border-radius: 5px;
}
