.message_container {
  flex: 1; /* 真ん中のコンポーネントをできる限り大きくする */
  border-right: 0.5px var(--twitter-background) solid;
  border-left: 1px solid var(--twitter-color);
  height: 200vh;

  /* overflow-y: scroll; */
  display: flex;
  justify-content: space-between;
}

.messageList_container {
  flex: 0.5;
  border-right: 0.5px var(--twitter-background) solid;
}

.sectionMessages_conversation {
  flex: 0.5;
  height: 100vh;
  overflow-y: auto;
}

.message__isSmall {
  flex: 1;
}

.sectionMessages_header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  flex-shrink: 0; /* ヘッダーの高さを固定 */
}
