.notificationList_container {
  flex: 0.5;
  border: 0.5px var(--twitter-background) solid;
  border-left: 1px solid var(--twitter-color);
  height: 200vh;

  /* overflow-y: scroll; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.notificationList_title_container {
  height: 80px;
  width: 100%;
  border-bottom: 0.5px var(--twitter-background) solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notificationList_title_text {
  font-size: 20px;
  padding: 10px 20px;
}
.notificationList_card_container {
  flex-grow: 1; /* 残りのスペースを全て埋める */
  overflow: auto; /* 必要に応じてスクロールを表示 */
}

@media (max-width: 1066px) {
  .notificationList_container {
    flex: 1; /* 真ん中のコンポーネントをできる限り大きくする */
  }
}
