.notificationCard__container {
  width: 100%;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.5px var(--twitter-background) solid;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-shrink: 0;
  gap: 5px;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 10px 5px;
  color: initial;
}

.unread {
  background-color: var(--twitter-background);
  border-bottom: 0.5px #ffff solid;
}
.favIcon {
  color: rgb(249, 24, 128);
}

.notification__icon {
  margin-left: 20px;
}

.notificationCard__text__icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.notificationCard__text__title {
  /* font-weight: bold; */
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--twitter-background);
}
