.postLikeButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.postLikeButton__iconButton {
  width: min-content;
  height: min-content;
}

.postLikeButton__favIcon_active {
  color: rgb(249, 24, 128);
}

.postLikeButton__like__count {
  display: block;
  font-size: 0.8rem;
  color: var(--twitter-background2);
}
