.post__body > img {
  border-radius: 20px;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--twitter-background);
}
.post_withoutBorder {
  display: flex;
  flex-direction: column;
  /* border-bottom: 1px solid var(--twitter-background); */
}
.post__content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  color: initial;
  text-decoration: none; /* 下線を消す */
}

.post__body__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%; /* 投稿内容がコンテナ内に収まるようにする */
}

.post__body__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post__avatar {
  padding: 20px;
  width: 40px;
  height: 40px;
}
.post__header__replyLine {
  display: flex;
  flex-grow: 1;
  margin: auto;
  /* height: calc(100% - 120px); */
  height: 80px;
  width: 2px;
  background-color: var(--twitter-background);
}
.post__footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.post__body {
  flex: 1;
  padding: 10px;
  width: calc(100% - 100px);
  text-decoration: none;
}
.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}
.post__header {
  /* width: 100%; */
  text-decoration: none;
}
.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}
.time {
  font-size: 8px;
}
.post__headerText {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}
.post__headerDescription {
  font-size: 15px;
  margin-bottom: 20px;
  /* width: 100%; */
  width: 100%; /* 親要素の幅に収める */
  word-wrap: break-word; /* 長い単語を折り返す */
  overflow-wrap: break-word; /* 長い単語を折り返す */
  white-space: pre-wrap; /* 空白と改行を保持しつつ折り返す */
  text-decoration: none;
}
.post__headerDescription p {
  white-space: normal; /* デフォルトの空白の扱いを保証 */
  overflow-wrap: break-word; /* 長い単語も折り返す */
  word-wrap: break-word;
  text-decoration: none;
}

.post__iconButton {
  width: min-content;
  height: min-content;
}

.post__delete__button {
  width: min-content;
  height: min-content;
  color: var(--twitter-background2) !important;
}
.post__delete__icon {
  color: var(--twitter-background2) !important;
}
.post__img__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.post__img {
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
}
