.replyButton__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply__iconButton {
  width: min-content;
  height: min-content;
}

.reply__count {
  display: block;
  font-size: 0.8rem;
  color: var(--twitter-background2);
}
