.profile {
  flex: 0.5;
  border-right: var(--twitter-background) 1px solid;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
}
.profile__info__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex-shrink: 0; /* ヘッダーの高さを固定 */
}
.profile__bg {
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  background-color: var(--twitter-color);
}
.profile__info {
  padding: 0 30px;
}

.profile__info__username {
  margin-bottom: 20px;
}
.profile__info__location {
  color: var(--twitter-background2);
  display: flex;
  align-items: center;
}
.profile__info__follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.profile__info__follow span {
  color: var(--twitter-background2);
  padding: 5px 8px;
  border-radius: 5px;
}

.profile__info__follow span:hover {
  background-color: var(--twitter-color);
  opacity: 0.5;
}

.profilePhoto__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px 0;
}

.profile__photo {
  z-index: 1000;
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  margin-left: 30px;
}

.updateProfile_button {
  /* border-radius: 50% !important; */
  z-index: 1000;

  width: fit-content !important;
  margin-right: 20px !important;
}
.profile__header {
  display: flex;
  /* position: sticky;
  top: 0; */
  background-color: white;
  /* z-index: 100; */
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
  width: 100%;
  flex-shrink: 0; /* ヘッダーの高さを固定 */
}

.profile__tabs {
  display: flex;
  width: 100%;
}

.profile__tab {
  /* flex-grow: 1; 各タブが利用可能なスペースを均等に使うように設定 */
  display: flex;
  justify-content: center; /* テキストとアイコンがタブの中央に来るように */
  flex: 0.5;
}
.profile::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1066px) {
  .profile {
    flex: 1; /* 真ん中のコンポーネントをできる限り大きくする */
  }
}
