.searchUser__container {
  /* flex: 0.5; */
  /* border-right: var(--twitter-background) 1px solid; */
  /* min-width: fit-content; */
  /* overflow-y: scroll; */
  /* width: 50vw; */
  padding: 10px 5px;
  min-width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.searchUser_resultList {
  flex-grow: 1; /* 残りのスペースを全て埋める */
  overflow: auto; /* 必要に応じてスクロールを表示 */
  margin-top: 20px;
}
.searchUser_result {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: initial;
}

.searchUser_result:hover {
  background-color: var(--twitter-background);
}

.result__avatar {
  padding: 20px;
  width: 40px;
  height: 40px;
}
.result__name {
  font-weight: 600;
  font-size: 1rem;
}
