.search__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  width: 95%;
  margin: 10px auto;
}
.search__input > input {
  flex: 1;
  border: none;
  background-color: var(--twitter-background);
}
.search__input > input:focus {
  outline: none;
}
.search__searchIcon {
  color: gray;
}
