.searchInput_container {
  display: flex;
  align-items: center;
  background-color: var(--twitter-background);
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  margin: 20px auto;
}
.searchInput_container > input {
  flex: 1;
  border: none;
  background-color: var(--twitter-background);
}
.searchInput_container > input:focus {
  outline: none;
}
.searchInput_searchIcon {
  color: gray;
}
