.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 20px !important;
  width: 100% !important;
  height: 50px !important;
  margin-top: 20px !important;
}
.sidebar {
  border-right: 1px solid var(--twitter-color);
  flex: 0.2;
  min-width: 200px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.sidebar__icon {
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar__icon h1 {
  font-size: 1.5rem;
  line-height: 100%;
  /* color: var(--twitter-color); */
}

.sidebar__icon img {
  width: 50px;
  height: 50px;
  object-fit: contain; /* アスペクト比を維持する */
}

.logoutButton_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* 小さいスクリーンの場合 */
@media (max-width: 768px) {
  .sidebar {
    min-width: 50px;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar__tweet {
    margin: 0 0;
  }
  .sidebar__icon {
    margin-left: 0;
  }
  .sidebar__icon h1 {
    display: none;
  }
}
