.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
}
.sidebarOption:hover {
  background-color: #e8f5fe;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}
.sidebarOptionTile {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

.sidebar__notification__count {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--twitter-color);
  color: white;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}
/* 小さいスクリーンの場合 */
@media (max-width: 768px) {
  .sidebarOptionTile {
    display: none;
  }

  .sidebarOption > .MuiSvgIcon-root {
    padding: 12px; /* モバイル用にパディングを調整 */
    margin: 0 auto; /* アイコンを中央に配置 */
  }

  .sidebarOption {
    justify-content: center; /* フレックスボックス内のアイテムを中央に揃える */
  }
}
