.speech {
  min-width: 150px;
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--twitter-background);
  align-self: flex-start;
}

.speech.mine {
  background-color: var(--twitter-color);
  align-self: flex-end;
}

.speech p {
  word-break: break-word;
}
