body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  --twitter-background2: rgb(83, 100, 113);
}
.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto; /* 画面中央に配置 */
}

.errMsg {
  color: red;
}

.iconButton {
  width: min-content;
  height: min-content;
  color: #50b7f5;
}
